.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-left: 5px solid;
  border-radius: 4px;
  font-family: sans-serif;
}

.success {
  background-color: #f6ffed;
  border-color: #52c41a;
  color: #237804;
}

.warning {
  background-color: #fffbe6;
  border-color: #faad14;
  color: #ad8b00;
}

.error {
  background-color: #fff1f0;
  border-color: #ff4d4f;
  color: #cf1322;
}